<h3>5. Person Reactive Form</h3>
<form [formGroup]="personForm" (ngSubmit)="onFormSubmit()" class="all-form">
  <div>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="esMatcher">
      <mat-error *ngIf="username?.hasError('required')">
        Username is required.
      </mat-error>
    </mat-form-field>  
  </div>
  <div>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password" 
         [errorStateMatcher]="esMatcher">
      <mat-error *ngIf="password?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
  </div>  
  <div>
    <mat-form-field>
      <textarea matInput 
          placeholder="Address" 
          formControlName="address" 
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="4"          
          [errorStateMatcher]="esMatcher">
      </textarea>
      <mat-error *ngIf="address?.hasError('required')">
        Comment is required.
      </mat-error>
      <mat-error *ngIf="address?.hasError('maxlength')">
        Max length is 100.
      </mat-error>        
    </mat-form-field>
  </div>  
  <div>
    <mat-form-field>
      <input matInput type="color" formControlName="favColor" placeholder="Favorite color">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>                
      <input matInput type="date" formControlName="dob" placeholder="Date of birth">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="time" formControlName="tob" placeholder="Time of birth">
    </mat-form-field>
  </div>   
  <div>
    <mat-form-field>
      <input matInput type="number" formControlName="age" placeholder="Age">
    </mat-form-field>
  </div>
  <div>   
    <button mat-raised-button>Submit</button>
  </div>  
</form> 